.h1{
background-color:rgb;
}
.p{
font-family:verdana;
font-size:20px;
}
th{
background-color:#000fff;
}
.body{
	background-image:path;
background-color:yello;
}
.table,th,td{
	border:1px solid;
}
	

.td{
font-size:10px;
font:oblique:
}
.img{
	
margin-left:3cm;
width:200px;
height:280px;
}